.dark {
  $d-primary: #1b1b1b;
  $d-secondary: #4e4e4e;

  $d-text: #e8edf0;

  button {
    color: $d-text;
  }

  nav {
    background-color: $d-secondary;

    .todoit {
      color: $d-text;
    }
  }

  .project-wrapper {
    background-color: $d-primary;
    color: $d-text;

    .sort-by-name {
      filter: invert(98%) sepia(6%) saturate(477%) hue-rotate(171deg)
        brightness(98%) contrast(92%);
    }

    .sort-by-date {
      filter: invert(98%) sepia(6%) saturate(477%) hue-rotate(171deg)
        brightness(98%) contrast(92%);
    }
  }

  footer {
    background-color: $d-primary;
    color: $d-text;
  }

  .modal {
    background-color: $d-secondary;
    color: $d-text;
    border: none;
  }
}
