@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/mixins" as m;

footer{
  background-color: c.$secondary;
  font-family: f.$popins;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  h3{
    font-weight: normal;
  }

  div{
    display: flex;
    gap: 10px;
  }

  img{
    width: 25px;
    height:25px;

    @include m.button-hover();
  }
}