/* Five modals
Add project,
Edit item,
Edit project,
details,
validation error

The edit modal is added twice when in today or upcoming pages. Find why, fix it
*/
@use "../abstracts/fonts" as f;
@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;

dialog{
  font-family: f.$popins;
  height: 30vh;

  button{
    width: 9ch;
    text-align: center;
    border: 2px solid c.$button-primary;
    border-radius: 5px;

    @include m.button-hover();
  }

  label{
    font-weight: bold;
  }

  textarea{
    resize: none;
  }
}

.delete-warning-modal{

  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;

  align-content: center;
  align-items: center;
  gap: 10px;

  img{
    grid-column: 1/ span 1;
    grid-row: 2;
    width: 90px;
    height: 90px;
  }
  h3{
    grid-column: 2/span 3;
  }
  p{
    grid-column: 2/span 3;
    width: 60ch;
  }

  button{
    justify-self: center;
  }

  #cancel{
    grid-column: 2/ span 1;
  }

  #delete{
    grid-column: 4/ span 1;
  }

  
}
.add-item-modal{
  height: 40vh;

  form{
    @include m.modal-base();
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);

    .item-title-div{
      grid-column: 1;
      grid-row: 2;

      input{
        @include m.validate();
      }
    }

    .item-area-div{
      grid-column: 1;
      grid-row: 3/span 3;
    }

    .item-due-div{
      grid-column: 2;
      grid-row: 2;
    }

    .item-priority-div{
      grid-column: 2;
      grid-row: 3;
    }

    .item-project-div{
      grid-column: 2;
      grid-row: 4;
    }

    .item-modal-buttons-div{
      grid-column: 2;
      grid-row: 5;
      align-self: end;

      display: flex;
      gap: 20px;
    }
  }

}

.add-project-modal{
  height: 35vh;
  form{
    @include m.modal-base();
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .project-title-div{
    grid-column: 1;
    grid-row: 2;

    input{
      @include m.validate();
    }
  }

  .project-area-div{
    grid-column: 2;
    grid-row: 2/span 2;
  }

  .project-modal-buttons-div{
    grid-column: 1;
    grid-row: 3;
    align-self: end;

    display: flex;
    gap: 20px;
  }
}