@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/mixins" as m;

nav{
  background-color: c.$primary;
  font-family: f.$popins;
  
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(10, 10vh);
  align-items: center;
  justify-items: center;

  user-select: none;

  .todoit{
    grid-column: 1/6;
    grid-row: 1/ span 1;
    justify-self: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    img{
      height: 50px;
    }
  }

  ul{
    height: 50vh;
    grid-column: 1/span 5;
    grid-row: 2/span 6;

    overflow-y: scroll;

    padding: 0 20px;

    li{
      min-height: 5vh;
      display: flex;
      align-items: center;
      gap: 9px;
    }

    h2{
      color: c.$text-white;
      font-weight: bold;
      position: relative;

      &::before{
        content: "";
        width: 200%;
        height: 1px;
        background-color: c.$text-white;
        position: absolute;
        left: 0;
        top: -3px;
      }

      &::after{
        content: "";
        width: 200%;
        height: 1px;
        background-color: c.$text-white;
        position: absolute;
        left: 0;
        bottom: -3px;
      }
    }

  }

  button{
    grid-column: 2/span 3;
    position: relative;

    font-size: f.$big-text;
    color: c.$text-white;
    transition: all 200ms ease-in;

    &::after{
      content: "";
      width: 100%;
      height: 3px;
      position: absolute;
      background-color: c.$secondary;
      bottom: -3px;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
    
      transition: transform 200ms ease-out;
    }

    &:hover{
      transform: scale(1.1);
      transition: all 200ms ease-in;
      &::after{
        transform: scale(1);
        transition: transform 200ms ease-out;
      }
    }
  }

  .delete-nav{
    @include m.button-with-icon("red");
  }

  .edit-nav{
    @include m.button-with-icon("white");
  }

  .add-project-button{
    position: relative;
    &:before{
      content: url(/src/assets/svg/plus.svg);
      width: 25px;
      height: 25px;
      position: absolute;
      left: -30px;
      bottom: 5px;
      filter: invert(96%) sepia(16%) saturate(215%) hue-rotate(172deg) brightness(98%) contrast(93%);
      transition: all 250ms ease-in;
    }
    &:hover{
      &::before{
        transform: rotate(180deg);
        transition: all 250ms ease-in;
      }
    }
  }
}